@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.light:root {
    --border-color: #f4f4f5;
    --primary-color: #22c55e;
    --secondary-color: #ebebeb;
    --background-color: #ffffff;
    --modal-background-color: #ffffff;
    --swap-container-background: #f4f4f5;
    --swap-container-border-color: #ffffff;
    --input-card-color: #ffffff;
    --input-card-pay-color: #ffffff;
    --input-card-receive-color: #d0d5dd;
    --input-token-color: #f4f4f5;
    --change-direction-background-color: #22c55e;
    --change-direction-icon-color: #f4f4f5;
    --light-shade-color: #f4f4f5;
    --slippage-box-color: #71717a;
    --text-black-color: #000000;
    --text-white-color: #ffffff;
    --text-fade-color: #9caacb;
    --skeleton-shine-color: #9c9c9c;
    --price-impact-color: #e64646;
}

.dark:root {
    --border-color: #2b2b30;
    --primary-color: #008f11;
    --secondary-color: #28282c;
    --background-color: #09090b;
    --modal-background-color: #111314;
    --swap-container-background-color: rgba(0, 0, 0, 0);
    --swap-container-border-color: #1d293900;
    --input-card-pay-color: #171717;
    --input-card-receive-color: #171717;
    --input-card-color: #111314;
    --input-token-color: #090909;
    --change-direction-background-color: #09090b;
    --change-direction-icon-color: #008f11;
    --light-shade-color: #0f0f0f;
    --slippage-box-color: #27272a;
    --text-black-color: #ffffff;
    --text-white-color: #ffffff;
    --text-fade-color: #687085;
    --skeleton-shine-color: #585959;
    --price-impact-color: #e64646;
}

html {
    overflow-x: hidden;
    /* overscroll-behavior: none; */
    background-color: #000000;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: hidden;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.mobile-menu-enter {
    animation: slideIn 0.3s forwards;
}

.mobile-menu-exit {
    animation: slideOut 0.3s forwards;
}

/* TonConnect Overflow Issue */
#tc-widget-root {
    overflow: hidden;
}
